.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1)
}

#navbar1 .navbar-nav .nav-item .nav-link, .nav-foot .nav-item .nav-link, .nav-soc .nav-item .nav-link {
  color: #343a40;
}

#navbar1 .navbar-nav .active .nav-link, #navbar1 .navbar-nav .nav-item .nav-link:hover, .nav-foot .nav-item .nav-link:hover {
  text-decoration: underline;
  text-underline-position: alphabetic;
  text-decoration-style: solid;
}

.nav-soc .nav-item .nav-link:hover {
  color: #000000;
}

.spotlight-header, .latest-header, .topwriter-header {
  margin: 30px 0;
}

.spotlight-spot {
  padding: 30px 10px;
}

.latest-spot {
  padding: 30px 10px
}

.latest-jump {
  margin: 50px 0;
}
